KAFKA_BOOTSTRAP_SERVERS=localhost:29092,localhost:29093,localhost:29094
KAFKA_TOPIC=raw_data

CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=user
CLICKHOUSE_PASSWORD=passwd
CLICKHOUSE_DATABASE=turbofan
CLICKHOUSE_DB=turbofan

CONSUMER_GROUP_ID=turbofan-consumer
CONSUMER_BATCH_SIZE=10

PRODUCER_INTERVAL_SECONDS=1

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow
AIRFLOW_SECRET_KEY=change-me-local-dev-secret

GF_SECURITY_ADMIN_PASSWORD=admin
