CLICKHOUSE_USER=your_clickhouse_user
CLICKHOUSE_PASSWORD=your_clickhouse_password
CLICKHOUSE_DB=your_db_name
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_db_name
AIRFLOW_USER=your_airflow_user
AIRFLOW_PASSWORD=your_airflow_password
AIRFLOW_SECRET_KEY=your_secret_key
GF_SECURITY_ADMIN_PASSWORD=your_grafana_password
